@media (max-width: 940px) {
  .toggle-menu-btn {
    display: block;
  }
  .btn-container {
    display: none;
  }
  .navigation {
    position: absolute;
    left: 0;
    top: 60px;
    text-align: center;
    width: 100%;
    transform: translateY(-500px);
    transition: 0.3s;
    background: red;
  }
  .navigation li {
    display: block;
    padding: 15px 10px;
  }
  .navigation li a {
    color: #fff;
  }
  #toggle-menu:checked ~ .navigation {
    transform: translateY(0px);
  }
  .banner-container,
  .listed-container {
    grid-template-columns: 1fr;
  }
  .partner-container {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
  }
  .feature-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .banner-container,
  .partner-container,
  .work-container,
  .feature-container,
  .listed-container,
  .listed-items {
    grid-template-columns: 1fr;
  }
  .row {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
  .banner-left h1 {
    font-size: 41px;
    line-height: 55px;
  }
  .icons,
  .fas {
    text-align: left;
    margin-top: 10px;
  }
  .listed-right {
    width: 100%;
  }
  .listed-right h2 {
    font-size: 32px;
  }
}
@media (max-width: 340px) {
  .card-footer p {
    margin-right: 4px;
  }
  .row {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    text-align: center;
  }
  .icons-footer {
    justify-content: center;
  }
}
